.burger-menu {
    margin-top: 10px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    overflow: visible;
    position: relative;
    z-index: 2;
}

.burger-menu span,
.burger-menu span:before,
.burger-menu span:after {
    background: #0A322D;
    display: block;
    border-radius: 2px;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.burger-menu span:before,
.burger-menu span:after {
    content: "";
}

.burger-menu span {
    right: 0px;
    top: 13px;
    width: 40px;
}

.burger-menu span:before {
    left: 0px;
    top: -12px;
    width: 22px;
}

.burger-menu span:after {
    left: 20px;
    top: 12px;
    width: 22px;
}

.burger-menu.close span {
    transform: rotate(-45deg);
    top: 12px;
    width: 40px;
    background: #fff;
}

.burger-menu.close span:before {
    background: #fff;
    top: 0px;
    transform: rotate(90deg);
    width: 40px;
}

.burger-menu.close span:after {
    background: #fff;
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}